/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/about_page_scrollbars.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

@-moz-document url-prefix("about:"){
  window,
  page,
  html,
  .main-content,
  scrollbar{
    scrollbar-color: rgb(210,210,210) rgb(42,42,46) !important;
    scrollbar-width: thin;
  }
}