@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

@-moz-document url("about:addons"){
  :root{
    --in-content-page-color: rgb(210,210,210) !important;
    --in-content-text-color: rgb(210,210,210) !important;
    --in-content-page-background: rgb(46,54,69) !important;
    --in-content-box-background: rgba(255,255,255,0.1) !important;
  }
  .message-bar,.alert{
    background-color: var(--in-content-box-background) !important;
    color: var(--in-content-text-color) !important;
  }
	.detail-row, .detail-row-complex{ text-shadow: none !important; }
}
@-moz-document url-prefix("https://discovery.addons.mozilla.org/"){
  html|*{ color: inherit !important; }
  html|html,html|body{
    background-color: rgb(46,54,69) !important;
    color: rgb(210,210,210) !important;
  }
  html|div.addon,html|div.Notice{ background-color: rgba(255,255,255,0.1) !important; }
}