/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/high_contrast_extended_style.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Intended to use with Firefox high contrast mode - forcing pages to use selected colors */
/* This applies few additional colors for selected page elements trying to "fix" common layout patterns without being specific to any page */
@-moz-document url-prefix("http"),url-prefix("about:"){

body > div,
table,
tr:first-child,
br + div,
hr + div,
section,
article,
main,
main > div,
header > *:first-child,
header + div > div,
footer,
nav,
nav a:hover,
ul > li:hover > a,
li.active,
li.selected,
section > *,
paper-dialog > *,
#container,
.container,
.menu,
.popup,
.dropdown:hover,
.dropdown > li:hover{
  background-color: rgba(255,255,255,0.1);
}

section > * { background: transparent }

article{ background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)); }

nav a{ color: #bbb }

table table{ background-color: transparent }

input[type="submit"],
button,
.button,
.btn{
  background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.15));
  color: rgb(40,50,40)
}

input[type="submit"]:hover,
button:hover,
.button:hover,
.btn:hover{
  background-image: linear-gradient(rgba(255,255,255,0.15),rgba(255,255,255,0.2));
  text-shadow: 0 0 2px black;
  color: rgb(150,250,200)
}

input,
nav ul > li:hover,
div[role="menu"] > *:hover{ background-color: rgba(0,0,0,0.1); color: inherit }

input[type="search"],
input[type="text"],
input[type="password"]{ background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)); }

textarea{ background-color: rgb(40,40,40); color: inherit }
}