/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/newtab_background_image.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

@-moz-document url("about:newtab"), url("about:home"){
  body{
    /* This will load image.jpg stored in the same folder as this file */
    background-image: url("image.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
  }
}