/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/standalone_image_page_mods.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

@-moz-document media-document(image){
  @media not print {
    :root{
      background-color: #232325 !important; /* set solid color background */
      background-image: none !important; /* remove default background texture */
    }
    
    /* Uncomment the following to position image to top-left */
    /*
    img{
      margin: 0 !important;
    }
    */
    
    /* Checkerboard pattern for transparent images, slight blue hue */
    img.transparent{
      background: conic-gradient(#eef 0.25turn, #bbc 0.25turn 0.5turn, #eef 0.5turn 0.75turn, #bbc 0.75turn) top left / 24px 24px repeat !important;
    }
  }
}