/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/content/transparent_reader_toolbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Toolbar is invisible until hovered */

@-moz-document url-prefix("about:reader"){
  .reader-toolbar, .reader-toolbar .button:not(:hover) {
    background-color: transparent !important;
    border: none !important;
  }
  .reader-toolbar:not(:hover)>*:not([open]){ visibility:hidden; }
  body{ text-align: justify; }  
}