/* Show addons in two columns */

/* This doesn't work for new html addons page available in Firefox 68 - use two_column_html_addons.css instead */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url("about:addons"){
  #list-view{ overflow: auto }
	/* Test for Firefox > 66 */
  @supports (inset-block:auto){
    #addon-list{
      display: grid;
      grid-template-areas: "a a";
      grid-template-columns: 1fr 1fr;
		  grid-auto-rows: min-content;
      overflow: hidden !important;
      padding-bottom: 80px; /* increase this value if addons list content get cut */
    }
  }
	/* Test for Firefox < 66 */
  @supports not (inset-block:auto){
    #addon-list > scrollbox > .scrollbox-innerbox{
      display: grid;
      grid-template-areas: "a a";
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: min-content;
    }
  }
  .control-container{ display: flex; }
  .addon-control{ margin: 3px }
  .addon.card{ padding-bottom: 0px !important; padding-top: 0px !important }
  .addon.card > .content-container { display: flex; }
  .content-inner-container{ flex-grow: 1; }
  .content-inner-container > hbox{ display: block }
  .card-heading-image{ margin: 0 !important; }
  .icon{ min-width: 24px }
}