/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_menubar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes menubar slide over tabs toolbar when hovered */
/* Menubar will be shown when cursor touches top of the spacers on both side of tabs. Window controls will be in menubar, so they are automatically hidden */
/* Make sure you have menubar enabled */

:root{ --uc-menubar-spacer: 6px }
:root[sizemode="maximized"]{ --uc-menubar-spacer: 1px }

#nav-bar-customization-target,
#PanelUI-button,
#nav-bar-overflow-button,
#TabsToolbar > .toolbar-items{ position: relative; z-index: 5; }
#toolbar-menubar > spacer{ flex-grow: 1 }

#toolbar-menubar > spacer,
#toolbar-menubar > .titlebar-buttonbox-container{ order: 1000 }

#TabsToolbar > .titlebar-spacer{ display: -moz-box !important; }

#toolbar-menubar:not([customizing]){
  --uc-menubar-height: 34px;
  position: fixed;
  display: flex;
  width: 100vw; 
  height: var(--uc-menubar-height);
  /* --uc-menubar-extra-margin is defined in toolbars_below_content.css */
  margin-top: calc(var(--uc-menubar-spacer) - var(--uc-menubar-height) + var(--uc-menubar-extra-margin,0px));
  transition: margin-top 150ms linear !important;
  -moz-window-dragging: no-drag;
  z-index:4;
}

#toolbar-menubar:hover{
  background-color: var(--toolbar-bgcolor) !important;
  margin-top: var(--uc-menubar-extra-margin,0px) !important;
  z-index: 6
}

/* This exists only for compatibility reasons with some other styles */
#navigator-toolbox{ --uc-hide-window-control-space: 0 }