/* Effect */

:root:not([uidensity="compact"]) #back-button{ --uc-back-extra-padding: 2px }

.toolbarbutton-icon,
.menuitem-iconic .menu-iconic-icon{
  transition: transform 83ms linear !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon,
.urlbar-icon{
  transition: padding 83ms linear !important;
}

toolbarbutton:not(.toolbarbutton-1) > .toolbarbutton-icon,
toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack > .toolbarbutton-icon,
.menuitem-iconic .menu-iconic-icon{
  transform: scale(0.8) !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon{
  padding: calc(var(--toolbarbutton-inner-padding) + var(--uc-back-extra-padding,0px) + 2px) !important;
}

#page-action-buttons .urlbar-icon:not(:hover){ padding: calc(var(--urlbar-icon-padding) + 2px) !important; }

toolbarbutton:not(.toolbarbutton-1):not([disabled]):hover > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled]):hover > .toolbarbutton-badge-stack > .toolbarbutton-icon,
.menuitem-iconic:not([disabled]):hover .menu-iconic-icon{
  transform: none !important;
}

toolbar .toolbarbutton-1:not([disabled]):hover > .toolbarbutton-icon{
  padding: calc(var(--toolbarbutton-inner-padding) + var(--uc-back-extra-padding,0px)) !important;
}