/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/centered_statuspanel.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

#statuspanel:not([hidden]){
  display: flex !important;
  justify-self: center !important;
  padding-top: 0 !important;
  inset-inline: auto !important;
  min-width: unset !important;
}
#statuspanel-label{
  border-width: 1px 1px 0px 1px !important;
  border-style: solid !important;
  margin-inline: auto !important;
}
/* Set this pref to true in about:config to make statuspanel show at top instead */
@media (-moz-bool-pref: "userchrome.centered-statuspanel.on-top.enabled"),
       -moz-pref("userchrome.centered-statuspanel.on-top.enabled"){
  #statuspanel:not([hidden]){
    inset-block: 0 auto !important;
  }
  #statuspanel-label{
    border-width: 0 1px 1px 1px !important;
  }
}
