/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/centered_tab_label.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

.tab-label-container{
  display: grid;
  align-content: center;
}

.tab-secondary-label{
  justify-content: center;
}

.tab-label,
.tab-secondary-label{ overflow: hidden }

.tabbrowser-tab[selected]:not(:hover) .tab-label-container:not([labeldirection="rtl"]),
#tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab:not(:hover,[pinned]) .tab-label-container:not([labeldirection="rtl"]){
  margin-inline-end: 6px;
}
