/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/color_variable_template.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* You should enable any non-default theme for these to apply properly. Built-in dark and light themes should work */
:root{
  /* Popup panels */
  --arrowpanel-background: olive !important;
  --arrowpanel-border-color: green !important;
  --arrowpanel-color: cyan !important;
  --arrowpanel-dimmed: rgba(0,0,0,0.4) !important;
  /* window and toolbar background */
  --lwt-frame: purple !important;
  --toolbar-bgcolor: rgba(0,0,0,0.4) !important;  
  /* tabs with system theme - text is not controlled by variable */
  --tab-selected-bgcolor: powderblue !important;
  /* tabs with any other theme */
  --lwt-text-color: cyan !important;
  --lwt-selected-tab-background-color: cornflowerblue !important;
  /* toolbar area */
  --toolbarbutton-icon-fill: white !important;
  --lwt-toolbarbutton-hover-background: orange !important;
  --lwt-toolbarbutton-active-background: red !important;
  /* urlbar */
  --toolbar-field-border-color: green !important;
  --toolbar-field-focus-border-color: pink !important;
  --urlbar-popup-url-color: cyan !important;
  /* urlbar Firefox < 92 */
  --lwt-toolbar-field-background-color: olive !important;
  --lwt-toolbar-field-focus: grey !important;
  --lwt-toolbar-field-color: red !important;
  --lwt-toolbar-field-focus-color: white !important;
  /* urlbar Firefox 92+ */
  --toolbar-field-background-color: olive !important;
  --toolbar-field-focus-background-color: grey !important;
  --toolbar-field-color: red !important;
  --toolbar-field-focus-color: white !important;
  /* sidebar - note the sidebar-box rule for the header-area */
  --lwt-sidebar-background-color: purple !important;
  --lwt-sidebar-text-color: yellow !important;
}
/* Line above tabs */
#tabbrowser-tabs{ --lwt-tab-line-color: white !important; }
/* the header-area of sidebar needs this to work */
#sidebar-box{ --sidebar-background-color: purple !important; }