/* Make urlbar megabar appear more compact */
/* Set the pref browser.urlbar.megabar to true */
#urlbar.megabar[breakout]{
  margin-inline-start: 0px !important;
  width: 100% !important;
  left: 0 !important;
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
}
#urlbar.megabar[breakout]:not([open]){ bottom: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important; }
.urlbarView.megabar{ margin-inline: 0 !important; width: auto !important; }
.urlbarView-row{ padding-inline: 4px !important; }
#urlbar-background{ animation: none !important; }
#urlbar-input-container{ padding: 0 !important; height: 100% !important; }