/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/custom_default_tab_favicons.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Icon files not included. Save the icon files to same folder where userChrome.css is */

 /* Default tab favicon, the globe kind of thing */
.tab-icon-image:not([src]){
  background-image: url("icon.png"); /* filename for icon to load */
}

/* The Firefox brand icon seen on newtab page etc. */
.tab-icon-image[src="chrome://branding/content/icon32.png"]{
  background-image: url("icon.png"); /* filename for icon to load */
}

/* This just set size & properties for the icon replacement */
.tab-icon-image:not([src]),
.tab-icon-image[src="chrome://branding/content/icon32.png"]{ 
   background-repeat: no-repeat;
   background-size: cover; 
   height: 0; 
   padding-top: 16px
}