/* Makes popups, menus and context menus dark */
:root{
  --uc-dark-bkgnd-color: rgb(12,16,32);
  --uc-light-bkgnd-color: rgb(46,54,69);
  --uc-active-color: rgb(26, 70, 102);
  --uc-text-color: rgb(195, 198, 201);
  --uc-border-color: rgb(43,130,191);
}

.panel-arrowcontent,
#alltabs-popup .arrowscrollbox-scrollbox,

menupopup:not(#BMB_bookmarksPopup),
.textbox-contextmenu{
	border: 3px solid #434850 !important;
	background: var(--uc-dark-bkgnd-color) !important;
	border-radius: 5px !important;
	color: var(--uc-text-color) !important;
}

/* bookmarks menu is different from others */
#BMB_bookmarksPopup{
  background-color: unset !important;
}
/* GENERAL */
menupopup,
menuitem,
menu{
	-moz-appearance: none !important;
}

menupopup{
  background-color:var(--uc-dark-bkgnd-color) !important; 
  border:none;
}

menuitem,
menu{
	min-height:24px !important;
  color: var(--uc-text-color) !important;
}

menuitem[disabled="true"],
menu[disabled="true"]{
  color: black !important;
  text-shadow: 0 0 4px silver !important;
}

menuitem:hover,
menu:hover{
  background-color:var(--uc-active-color) !important;
}

menuitem[disabled="true"]:hover,
menu[disabled="true"]:hover{
  background-color: transparent !important;
}

.menu-right{ filter: invert(100%) }
#context-navigation{ background-color: transparent !important; }

/* POPUP PANELS */

.panel-subviews,
#mainPopupSet menupopup,
#main-menubar menupopup,
#bookmarks-menu-button menu menupopup > hbox,
.search-panel-header.search-panel-current-engine,
.search-panel-current-input,
panelview,
.PanelUI-subView,
.autocomplete-richlistbox{
   background-color:  var(--uc-dark-bkgnd-color) !important;
}

.subviewbutton:hover{
  background-color: var(--uc-active-color) !important;
}

panelview toolbarbutton.subviewbutton .toolbarbutton-text,
#downloadsFooter,
#customizationui-widget-panel label,
.autocomplete-richlistitem .ac-title,
#widget-overflow-list toolbarbutton,
#bookmarks-menu-button menu menupopup,
#PopupSearchAutoComplete .autocomplete-tree.plain.search-panel-tree,
#PanelUI-contents toolbarbutton,
#sidebar-switcher-target,
#alltabs_containersTab{
    color: var(--uc-text-color)!important;
}

#alltabs-popup,
#alltabs_containersMenuTab{
  border: none !important;
}

/* URLBAR AND SEARCHBAR POPUPS */

#PopupAutoCompleteRichResult .ac-title,
#PopupAutoCompleteRichResult .search-one-offs,
.search-panel-input-value{
	color: var(--uc-text-color) !important;
}

.search-panel-one-offs,
.downloadsPanelFooterButton:not(:hover),
#overflowMenu-customize-button:not(:hover),
#searchbar-anon-search-settings{
  background-color: var(--uc-light-bkgnd-color) !important;
}

#PopupAutoCompleteRichResult .ac-emphasize-text.ac-emphasize-text-title{
	color: var(--uc-border-color) !important;
}
