/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_toolbox_top_bottom_borders.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

:root[sizemode="normal"]{ border-top: none !important }
#navigator-toolbox::after{ content: none !important }
#navigator-toolbox{ border-bottom: none !important }

/* OPTIONAL - uncomment to remove still remaining space atop of tabs */
/* This just increases the height of tabs by few pixels, not decrease the toolbar height */

/* #TabsToolbar > .toolbar-items > spacer{ display: none; } */
