/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_with_one_tab_w_window_controls.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes tabs toolbar items zero-height initially and sets enlarge them to fill
 * up space equal to tab-min-height set on tabs.
 * Optionally use privatemode_indicator_as_menu_button.css to replace main menu
 * icon with private browsing indicator while tabs are hidden.
 * REMOVE ALL BUTTONS from tabs toolbar and menubar including newtab-button
 * and firefox-view-button - this style does not work otherwise.
**/

/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it
*/

:root{
  --uc-menubar-height: 28px; /* adjust as necessary */
}
#titlebar{ -moz-appearance: none !important; }
/* We'll use window controls from menubar instead */
#TabsToolbar > .titlebar-buttonbox-container { display: none }
/* Hide overflow button unless tabs overflow - is necessary for collpasing tabs with one tab */
#tabbrowser-tabs:not([overflow="true"]) ~ #alltabs-button{ display: none }

#tabbrowser-tabs,
#tabbrowser-arrowscrollbox{ min-height: 0 !important; }

#TabsToolbar > .titlebar-spacer[type="post-tabs"]{
  width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) !important;
  -moz-box-ordinal-group: 2;
}
#toolbar-menubar > spacer{ pointer-events: none }

:root:not([customizing]) #tabs-newtab-button{
  -moz-appearance: none !important;
  height: 0px;
  padding-block: 0px !important;
  -moz-box-align: stretch;
  margin: 0 !important;
}
/* Need to hide private-browsing indicators, but you can still use privatemode_indicator_as_menu_button.css */
#private-browsing-indicator,
#private-browsing-indicator-with-label{
  display: none;
}

#tabs-newtab-button{ transform: scale(0.8); border-radius: var(--tab-border-radius); }

.accessibility-indicator,
.private-browsing-indicator{ 
  height: unset !important;
}
.accessibility-indicator > hbox{ padding-block: 0 !important }

.tabbrowser-tab{
  height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin));
}
.tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse;
  min-height: 0 !important;
  height: 0;
}

/* Button re-styling */
#tabs-newtab-button:hover,
#tabbrowser-tabs .tabs-newtab-button:hover{ background-color: var(--toolbarbutton-hover-background) }

#tabs-newtab-button > .toolbarbutton-icon,
#tabbrowser-tabs .tabs-newtab-button > .toolbarbutton-icon{
  padding: 0 !important;
  transform: scale(0.6);
  background-color: transparent !important;
}

/* Window controls in nav-bar */
:root:not([customizing]) #toolbar-menubar[inactive]{
  height: initial !important;
  min-height: initial !important;
  margin-bottom: calc(0px - var(--uc-menubar-height,28px)) !important;
}

:root:not([customizing]) #toolbar-menubar[autohide][inactive] > #menubar-items{ pointer-events: none; opacity: 0 }

:root[sizemode="fullscreen"] #TabsToolbar > #window-controls{ z-index: 2; }
.titlebar-buttonbox{ color: inherit }
