/* Hide tabs toolbar Fx65+ */

/* IMPORTANT */
/*
Get EITHER
window_control_placeholder_support.css
OR
window_control_placeholder_support_mac.css

Window controls will be all wrong without it

*/

:root{ --uc-toolbar-height: 32px; }

:root:not([uidensity="compact"]){--uc-toolbar-height: 38px}

#TabsToolbar{ visibility: collapse }

:root:not([inFullscreen]) #nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height));
}

#toolbar-menubar{
  min-height:unset !important;
  height:var(--uc-toolbar-height) !important;
  position: relative;
}

#main-menubar{
  -moz-box-flex: 1;
  background: var(--toolbar-non-lwt-bgcolor);
  background-clip: padding-box;
  border-right: 30px solid transparent;
  border-image: linear-gradient(to left, transparent, var(--toolbar-non-lwt-bgcolor) 30px) 20 / 30px
}

#toolbar-menubar:not([inactive]){ z-index: 2 }
#toolbar-menubar[inactive] > #menubar-items { opacity: 0 }