/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_toolbar_w_with_alltabs_button.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This is less flexible than hide_tabs_toolbar.css, but this method aims to preserve the alltabs button and show it and window controls next to the main menu button */

/* Load window_control_placeholder_support.css before this stylesheet */

#tabbrowser-tabs{ visibility: hidden }
#TabsToolbar-customization-target{
  -moz-box-pack: end;
  justify-content: flex-end;
}
#alltabs-button{
  position: relative;
  z-index: 1;
  padding-bottom: 5px !important;
}
#TabsToolbar:not([inFullscreen]) > .titlebar-buttonbox-container{
  padding-bottom: 5px;
}

@supports not -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
  :root[id]{ --uc-window-control-width: 40px }
  :root:is([tabsintitlebar],[sizemode="fullscreen"]){ --uc-window-control-width: 160px }
  :root[sizemode="fullscreen"] #alltabs-button{ margin-right: var(--uc-window-control-width) !important; }
}

#TabsToolbar > .titlebar-spacer{ display: none }
#TabsToolbar{ margin-bottom: calc(0px - var(--tab-min-height) - 2 * var(--tab-block-margin))}

#titlebar{ -moz-appearance: none !important; }
