/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_toolbar_osx.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Hides tabs toolbar - OSX only */

/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it
*/

:root{ --uc-toolbar-height: 32px; }
:root:not([uidensity="compact"]){ --uc-toolbar-height: 34px }

#TabsToolbar > *{ visibility: collapse !important }
:root[sizemode="fullscreen"] #TabsToolbar > #window-controls{ visibility: visible !important; z-index: 2 }
#TabsToolbar > .titlebar-buttonbox-container{
  visibility: visible !important;
  height:var(--uc-toolbar-height) !important;
}

#nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height));
}
 :root[inFullscreen] #navigator-toolbox{ margin-top: 11px }