/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/iconized_places_context_menu.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Adds icons to menuitems in context menus of bookmarks toolbar
 * as well as bookmarks and history sidebars.
 * Note that this won't work if you have native context menus,
 * such as ones used on MacOS */

:where(#placesContext > menu:not(.menu-iconic))::before,
:where(#placesContext > menuitem:not(.menuitem-iconic))::before{
  display: flex;
  padding-inline-end: 8px;
  padding-top: 2px;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  content: url("chrome://browser/skin/tab.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}
:where(#placesContext > menu),
:where(#placesContext > menuitem){
  padding-inline-start: 1em !important;
}
#placesContext > menuitem[type="checkbox"]::before{
  content: url("chrome://devtools/skin/images/checkbox.svg");
}
#placesContext > menuitem[type="checkbox"] > :is(.menu-iconic-left,.menu-icon){
  display: none;
}
#placesContext > menuitem[type="checkbox"][_moz-menuactive]::before,
#placesContext > menuitem[type="checkbox"][checked="true"]::before{
  background: no-repeat center left url("chrome://global/skin/icons/check.svg");
}
#placesContext_openBookmarkContainer\:tabs::before,
#placesContext_openBookmarkLinks\:tabs::before{
  content: url("chrome://global/skin/icons/edit-copy.svg");
}
#placesContext_open\:newtab::before{
  content: url("chrome://global/skin/icons/open-in-new.svg");
}
#placesContext_openContainer\:tabs::before,
#placesContext_openLinks\:tabs::before{
  content: url("chrome://global/skin/icons/edit-copy.svg");
}
#placesContext_open\:newwindow::before{
  content: url("chrome://browser/skin/window.svg");
}
#placesContext_open\:newprivatewindow::before{
  content: url("chrome://browser/skin/privateBrowsing.svg");
}
#placesContext_showInFolder::before,
#placesContext_new\:folder::before{
  content: url("chrome://global/skin/icons/folder.svg");
}
#placesContext_show_bookmark\:info::before,
#placesContext_show\:info::before,
#placesContext_show_folder\:info::before{
  content: url("chrome://global/skin/icons/edit.svg");
}
#placesContext_deleteFolder::before,
#placesContext_deleteBookmark::before,
#placesContext_delete::before,
#placesContext_delete_history::before{
  content: url("chrome://global/skin/icons/delete.svg");
}
#placesContext_deleteHost::before{
  content: url("chrome://browser/skin/forget.svg");
}
#placesContext_sortBy\:name::before{
  content: url("chrome://browser/skin/sort.svg");
}
#placesContext_copy::before{
  content: url("chrome://devtools/skin/images/copy.svg");
}
#placesContext_cut::before{
  content: url("chrome://browser/skin/edit-cut.svg");
}
#placesContext_paste_group::before,
#placesContext_paste::before{
  content: url("chrome://browser/skin/edit-paste.svg");
}
#placesContext_new\:bookmark::before,
#placesContext_createBookmark::before{
  content: url("chrome://browser/skin/bookmark-hollow.svg");
}
#placesContext > #toggle_PersonalToolbar::before{
  content: url("chrome://browser/skin/bookmarks-toolbar.svg");
}
#placesContext_showAllBookmarks::before{
  content: url("chrome://browser/skin/library.svg");
}
#placesContext_new\:separator::before{
  content: url("chrome://global/skin/reader/content-width-20.svg");
  transform: scale(0.85);
}