/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/inline_tab_audio_icons.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Shows tab audio icons next to the tab icon, and by default removes the tab secondary line */

.tabbrowser-tab:not([pinned]) .tab-icon-stack:is([muted],[soundplaying],[activemedia-blocked]){
  grid-template-areas: "a s";
}
.tabbrowser-tab:not([pinned]) .tab-icon-overlay:is([muted],[soundplaying],[activemedia-blocked]){ grid-area: s; }
.tab-icon-overlay,
.tab-icon-image,
.tab-throbber{ opacity: 1 !important; }

.tab-icon-overlay:not([pinned]){
  padding: 0px !important;
  margin-inline: -3px 1px !important;
}

/* secondary audio label ain't much use with this style, but feel free to remove the next line if you want to show it. */
.tab-secondary-label{ display: none }

/* show the secondary label when video is in PiP */
.tab-secondary-label[pictureinpicture]{ display: -moz-box }