/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/integrated_searchbar_popup.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This makes the searchbar popup look integrated into the searchbar,
 * kinda like urlbar popup looks.
 * Go to about:config and enable color-mix with layout.css.color-mix.enabled
 * to make the popup border show properly, or make the border use other color.
 */

#PopupSearchAutoComplete,
#searchbar{
   /* text input is clipped if this is too large compared to font-size. */
    --uc-searchbar-border-radius: 6px;
}

#PopupSearchAutoComplete{
  --uc-inner-margin: 6px;
  --uc-searchbar-border-outer-radius: calc(var(--uc-searchbar-border-radius) + var(--uc-inner-margin));
  --arrowpanel-border-color: transparent !important;
  margin-top: calc(1px - var(--uc-searchbar-border-radius));
  outline: 2px solid var(--toolbar-field-focus-border-color) !important;
  outline-offset: -8px;
  -moz-window-shadow: none !important;
  margin-inline: calc(0px - var(--uc-inner-margin));
  padding-inline: var(--uc-inner-margin);
  margin-bottom: -6px;
  padding-bottom: 6px;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.2));
  background: transparent !important;
  border-radius: 0 0 var(--uc-searchbar-border-outer-radius) var(--uc-searchbar-border-outer-radius) !important;
}

#searchbar:focus-within{ border-radius: var(--uc-searchbar-border-radius) !important; }

slot{
  border-radius: 0 0 var(--uc-searchbar-border-radius) var(--uc-searchbar-border-radius) !important;
}
#PopupSearchAutoComplete::before{
  height: 8px;
  background: var(--toolbar-field-focus-background-color);
  border-inline: 2px solid var(--toolbar-field-focus-border-color);
  display: -moz-box;
  content: "";
  position: relative;
  z-index: 2;
}