:root {
	--dark-color: rgb(36, 36, 36, 1);
	--caption-min-color: rgba(36, 209, 49, 1);
	--caption-max-color: rgba(252, 185, 15, 1);
	--caption-close-color: rgba(250, 55, 55, 1);
	--third-accent-color: rgba(190, 190, 190, 1);
}


.titlebar-buttonbox {
    position: relative;
    margin-right: 0px;
	margin-top: -10px !important;
}
.titlebar-button {
	transition: all 0.3s ease !important;
	padding: 8px 10px !important;
    background: var(--dark-color) !important;
}
.titlebar-button.titlebar-close {
	padding-right: 26px !important;
}
.titlebar-button > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
	list-style-image: none;
	border-radius: 10px;
}

.titlebar-button.titlebar-min > .toolbarbutton-icon {
	background: var(--caption-min-color) !important;
}
.titlebar-button.titlebar-max > .toolbarbutton-icon,
.titlebar-button.titlebar-restore > .toolbarbutton-icon {
	background: var(--caption-max-color) !important;
}
.titlebar-button.titlebar-close > .toolbarbutton-icon {
    background: var(--caption-close-color) !important;
}

.titlebar-button:hover > .toolbarbutton-icon {
	background: var(--third-accent-color) !important;
}

