.panel-subview-body{
 scrollbar-color:  rgb(210,210,210) var(--uc-dark-bkgnd-color,var(--arrowpanel-background));
 scrollbar-width: thin 
}
#permList, scrollbar{
 scrollbar-color:  rgb(210,210,210) var(--uc-light-bkgnd-color,var(--arrowpanel-background));
 scrollbar-width: thin 
}