/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/multi-row_tabs_window_control_patch.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This is a supporting style for multi-row_tabs.css*/

/* !! Use customize mode to make menubar permanently enabled !! */

/* 20px wide space on left and right to be able to drag the window */
#TabsToolbar{ margin: 0 20px; }

#titlebar{
  -moz-box-direction: reverse; /* Fx <112 compatibility */
  flex-direction: column-reverse;
}
#toolbar-menubar{
  height: 40px;
  margin-bottom: -40px;
  background-color: var(--toolbar-bgcolor)
}
:root[uidensity="compact"]  #toolbar-menubar{ height: 32px; margin-bottom: -32px }
:root[tabsintitlebar] #nav-bar{ padding-right: 138px; margin-left: 30px; }
#toolbar-menubar > #menubar-items{
  position: relative;
  -moz-box-pack: center; /* Fx <112 compatibility */
  justify-content: center !important;
  background-image: linear-gradient( to left,transparent,var(--toolbar-bgcolor) 35px);
  color: var(--toolbar-color);
}

#main-menubar:last-child{ padding-inline-end: 40px }

#toolbar-menubar > #menubar-items:hover{z-index: 2;}
#file-menu{
  padding-inline-start: 30px;
  background: url(chrome://browser/skin/settings.svg) no-repeat 10px;
  fill: currentColor;
  -moz-context-properties: fill
}