/*Make tabs and navbar appear side-by-side tabs on left */

/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it
*/

/* Modify these to change relative widths or default height */
#navigator-toolbox{
  --uc-navigationbar-width: 40vw;
  --uc-toolbar-height: 40px;
}
/* Override for other densities */
:root[uidensity="compact"] > #navigator-toolbox{ --uc-toolbar-height: 32px;}
:root[uidensity="touch"] > #navigator-toolbox{ --uc-toolbar-height: 40px; }

:root[uidensity=compact] #urlbar-container.megabar{
  --urlbar-container-height: var(--uc-toolbar-height) !important;
  padding-block: 0 !important;
}
:root[uidensity=compact] #urlbar.megabar{
  --urlbar-toolbar-height: var(--uc-toolbar-height) !important;
}

/* prevent urlbar overflow on narrow windows */
/* Dependent on how many items are in navigation toolbar and tabs-/nav-bar ratio - ADJUST AS NEEDED */
@media screen and (max-width: 1600px){
  #urlbar-container{ min-width:unset !important }
}

#toolbar-menubar{ height: initial !important; }
#toolbar-menubar[inactive] > :not(.titlebar-buttonbox-container){ opacity: 0; pointer-events: none; }
#toolbar-menubar[inactive]{ margin-bottom: calc(0px - var(--uc-toolbar-height)) }

#TabsToolbar > .titlebar-buttonbox-container,
.titlebar-spacer[type="post-tabs"]{
  display: none;
}
#TabsToolbar{
  margin-right: var(--uc-navigationbar-width);
}
#toolbar-menubar[autohide="true"] > .titlebar-buttonbox-container,
#tabbrowser-tabs,
.tabbrowser-tab[pinned]{
  height: var(--uc-toolbar-height) !important;
  min-height: var(--uc-toolbar-height) !important;
}
#nav-bar{
  margin-left: calc(100vw - var(--uc-navigationbar-width));
  margin-top: calc(0px - var(--uc-toolbar-height));
}

/* Override style set in window_control_placeholder_support.css  */
#nav-bar::before{ display:none !important }

/* Rules specific to window controls on right layout */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
  :root:not([inFullscreen]) #TabsToolbar-customization-target > .titlebar-spacer[type="pre-tabs"]{
    width: var(--uc-window-drag-space-width) !important;
    display: -moz-box !important; 
  }
  #TabsToolbar > .titlebar-buttonbox-container{ display: -moz-box; }
}

/* 1px margin on touch density causes tabs to be too high */
.tab-close-button{ margin-top: 0 !important }

/* Hide dropdown placeholder */
#urlbar-container:not(:hover) .urlbar-history-dropmarker{ margin-inline-start: -28px; }
