/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/newtab_button_always_on_hover.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Always show tab close button on hover and never otherwise */
#tabbrowser-tabs #tabs-newtab-button{
  display: none;
}
#tabbrowser-tabs:hover #tabs-newtab-button{
  display: flex !important;
}
