/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/overlay_menubar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes menubar appear as overlay in the top left corner */

#toolbar-menubar{
  position: fixed;
  display: flex;
  top: 0;
  width: 100vw;
  height: initial !important;
  z-index: 10;
}

#toolbar-menubar[autohide="true"][inactive="true"]{ height: 0px !important; }

@media (-moz-os-version: windows-win7),(-moz-os-version: windows-win10){
  :root[tabsintitlebar][sizemode="maximized"] #toolbar-menubar{ top: 8px; }
}

#toolbar-menubar > spacer{ flex-grow: 1 }
#toolbar-menubar[inactive] > .titlebar-buttonbox-container{ display: none }

#main-menubar{
  height: calc(var(--tab-min-height) +  2 * var(--tab-block-margin,0px));
  background-color: var(--arrowpanel-background);
  color: var(--arrowpanel-color);
}

#menubar-items{ -moz-box-orient: horizontal !important; }
#menubar-items::after{
  content: "";
  display: -moz-box;
  width: 30px;
  height: calc(var(--tab-min-height) +  2 * var(--tab-block-margin,0px));
  background-image: linear-gradient(to right, var(--arrowpanel-background) 30%, transparent);
}

@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
  #toolbar-menubar[autohide="true"]:not([inactive]) > .titlebar-buttonbox-container{ display: none }  
}