/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/overlay_tab_audio_icons.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes the tab audio indicator show as overlay in all tabs, not just pinned ones */

.tab-icon-image,
.tab-throbber{ opacity: 1 !important; }

.tab-icon-overlay:not([crashed]){
    top: -5.5px;
    inset-inline-end: -6px;
    z-index: 1;
    padding: 2px;
    opacity: 1 !important;
    stroke: var(--tab-icon-overlay-stroke, black) !important;
}
.tab-icon-overlay:not([crashed]):hover{
  background-color: var(--tab-icon-overlay-stroke, black) !important;
  border-radius: 10px !important;
}