/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/privatemode_indicator_as_menu_button.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Removes the private-browsing-mode indicator from tabs toolbar and changes the menu-button icon to the private-browsing indicator in private windows */

.private-browsing-indicator{ display: none }
:root[privatebrowsingmode="temporary"] #PanelUI-menu-button{
  list-style-image: url("chrome://browser/skin/indicator-private-browsing.svg") !important;
}