/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/proton_dark_light_notifications.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes web notifications use dark/light theme based on your selected theme, and makes them fit a bit better to rounded proton style. */

@-moz-document url("chrome://global/content/alerts/alert.xhtml") {
  #alertBox {
    color: var(--menu-color) !important;
    background-color: var(--menu-background-color) !important;
    border-color: var(--menu-border-color) !important;
    border-radius: 6px !important;
    -moz-window-shadow: cliprounded !important;
  }

  #alertSettings {
    fill: currentColor !important;
    color: inherit !important;
    border-radius: 0 !important;
    margin-inline: 0 !important;
    margin-bottom: -4px !important;
  }
  #alertSettings > .button-box,
  .close-icon > .toolbarbutton-icon{
    border-radius: 4px !important;
    padding: 2px !important;
    margin: 2px 2px -2px 0 !important;
  }
  #alertSettings > .button-box {
    margin: -4px 4px 3px 0 !important;
  }
  #alertSettings > .button-box > .box-inherit > .button-icon {
    padding: 1px;
  }

  /* Color */
  #alertSettings,
  .close-icon {
    background: transparent !important
  }
  .close-icon:hover > .toolbarbutton-icon,
  #alertSettings:is(:hover,[open]) > .button-box {
    background-color: var(--menuitem-hover-background-color) !important;
  }

  @media (-moz-toolbar-prefers-color-scheme:dark) {
    :root {
      --menu-border-color: rgba(107,107,107,.3) !important;
    }
    #alertSourceLabel {
      color: rgb(5,209,241) !important;
    }
  }
}
