/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/selected_tab_as_urlbar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This is a horrible hack and absolutely requires click_selected_tab_to_focus_urlbar.css to work. In general it's pertty bad, but meh */

/* Also hides the nav-bar and shows main menu button next to window controls. And makes the selected tab expand a whole bunch  */

/* Whole bunch of z-indexing */
#main-window > body > box{ position: relative; z-index: 1 }
.urlbar-input-box{ z-index: -1 !important; }
#urlbar{ z-index: auto !important; }
#alltabs-button,
#unified-extensions-button,
#PanelUI-button,
#nav-bar-overflow-button{ z-index: 2; position: relative }

:root[sizemode="normal"] #urlbar-container{ margin-inline: 40px !important; }

#urlbar-input-container > :not(.urlbar-input-box){ opacity: 0 }

#urlbar-background{
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
#urlbar-container{ position: static !important; }
.urlbarView{
  background: var(--toolbar-field-focus-background-color);
  border: 1px solid var(--toolbar-field-focus-border-color) !important;
  z-index: 1;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0 0 26px #444;
  left:50vw;
  width: max(70vw,600px) !important;
  transform: translateX(-50%) !important;
}

.tabbrowser-tab[selected][fadein]{
  max-width: 100vw !important;
  min-width: 200px !important;
  flex-grow: 300 !important;
}

#navigator-toolbox:focus-within .tabbrowser-tab[selected] .tab-content{
  opacity: 0;
}
#navigator-toolbox:focus-within .tab-background[selected]{
  background-image: -moz-element(#urlbar-input) !important;
  background-position: calc(var(--tab-inline-padding,4px) + 6px) 3px !important;
  background-color: var(--toolbar-field-focus-background-color) !important;
  background-size: auto !important;
}

:root:not([customizing]) #titlebar{ margin-bottom: calc(0px - var(--tab-min-height) - 2*var(--tab-block-margin)); }

/* Oh and! also hide other buttons from the nav-bar because why not */
:root:not([customizing]) #nav-bar-customization-target > :not(#urlbar-container){ visibility: collapse }
#TabsToolbar > .toolbar-items{ margin-right: 80px !important; }

/* By default this style moves your back and forward buttons to the left edge of the navbar and adds a placeholder space for them.
   Set the following pref to false to disable that behavior */
@supports not -moz-bool-pref("userchrome.selected-tab-as-urlbar.nav-buttons-space.disabled"){
  #TabsToolbar > .toolbar-items{ margin-left: 80px }
  :root[sizemode="normal"] #nav-bar-customization-target{ margin-left: 40px }
  #back-button, #forward-button{
    -moz-box-ordinal-group: 0; /* Fx <112 compatibility */
    order: -1;
    visibility: visible !important;
    z-index: 2;
  }
} 
#nav-bar{ 
  height: calc(var(--tab-min-height) + 2*var(--tab-block-margin));
  padding-right: 138px;
  box-shadow: none !important;
  background-color: transparent !important;
} 