/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/show_window_title_in_menubar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Shows window title in menubar */
/* Enable menubar for correct behavior */
@-moz-document url(chrome://browser/content/browser.xhtml){
  :root:not([sizemode="fullscreen"]) > head{
    display: block;
    position: fixed;
    right: 140px; /* Space for window controls */
    width: calc(100vw - 440px); /* Window width - window control width - menuitem (English) width */
    text-align: center;
    z-index: 1;
    pointer-events: none;
  }
  head > *{ display: none }
  head > title{
    display: -moz-inline-box;
    padding-top: 1px;
    max-width: 50vw;
    overflow-x: -moz-hidden-unscrollable;
    text-overflow: ellipsis;
  }
  @media (-moz-os-version: windows-win7),(-moz-os-version:windows-win10){
    :root[sizemode="maximized"] > head > title { padding-top: 10px }
  }
}