/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/show_navbar_on_focus_only.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Hides #nav-bar and overlays it on top of tabs when urlbar is focused  */
/* overlay_menubar.css can be used for better handling of menubar when triggered with Alt-key */
/* This style totally breaks bookmarks toolbar but can be used with autohide_bookmarks_toolbar.css */

:root:not([customizing]) #navigator-toolbox{ display: grid; grid-template-rows: auto }
:root:not([customizing]) #navigator-toolbox > *{ grid-area: 1/1; }
:root:not([customizing]) #titlebar{ -moz-appearance: none !important; }

/* -moz-appearance: none on titlebar breaks window margins, so re-adjust that */
@media (-moz-os-version: windows-win7),(-moz-os-version: windows-win10){

  :root[sizemode="maximized"]{ margin-top: 8px !important; }

  @media screen and (min-resolution: 1.25dppx){
    :root[sizemode="maximized"]{ margin-top: 7px !important; }
  }
  @media screen and (min-resolution: 1.5dppx){
    :root[sizemode="maximized"]{ margin-top: 6px !important; }
  }
  @media screen and (min-resolution: 2dppx){
    :root[sizemode="maximized"]{ margin-top: 5px !important; }
  }
  :root:not([tabsintitlebar]),
  :root[inDOMFullscreen]{ margin-top: 0 !important; }
}
#urlbar-container{ margin-top: 1px }
:root[sessionrestored] #nav-bar:not([customizing]){
  transform: rotateX(90deg);
  transition: transform 67ms linear, opacity 0ms linear 67ms !important;
  opacity: 0;
  z-index: 3;
}
:root[sessionrestored] #nav-bar:focus-within{
  transform: rotateX(0deg);
  opacity: 1;
  transition-delay: 0ms, 0ms !important;
}

/* This enables compatibility with autohide_bookmarks_toolbar.css */
#PersonalToolbar{ margin-top: var(--tab-min-height) !important; } 