/*Make pinned tab width shrink dynamically, similar to unpinned tab width.*/

#tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab[pinned] {
  flex-grow: 10;
  -moz-box-flex: 10;
  max-width: 32px;
}

#tabbrowser-arrowscrollbox:not([overflowing]) .tab-content[pinned] {
  padding: 0px !important;
  -moz-box-pack: center;
}

.tab-label-container[pinned] {
  display: none;
}
