/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/shrinking_pinned_tabs.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes pinned tab width shrink dynamically, similar to unpinned tab width. */

#tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab[pinned] {
  flex-grow: 10;
  -moz-box-flex: 10;
  max-width: 40px;
}

:root[uidensity="compact"] #tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab[pinned] {
  max-width: 32px 
}

#tabbrowser-arrowscrollbox:not([overflowing]) .tab-content[pinned] {
  padding: 0px !important;
  -moz-box-pack: center; /* Fx <112 compatibility */
  justify-content: center;
}

.tab-label-container[pinned] {
  display: none;
}

/* Fixes flicker glitch. */
scrollbox[part][orient="horizontal"] {
    padding-inline: unset !important;
}
