/* STATUSPANEL INSIDE URLBAR */

#urlbar .urlbar-input-box{ display: -moz-stack; }
/* -moz-stack causes an subtle issue where in certain scenarios a weirdly aligned "http(s)://" may show up */

#urlbar .urlbar-input-box::after{
  z-index: 2;
  content: "";
  width: 100%;
  height: 100%;
  pointer-events:none;
  background: -moz-element(#statuspanel) left calc(90% - var(--toolbarbutton-outer-padding)) no-repeat !important;
}

#urlbar .urlbar-input-box::after{
  display: -moz-box;
}

#statuspanel-inner > #statuspanel-label{
  height:23px;
  min-width: 500px;
  background-color: var(--lwt-toolbar-field-background-color, hsla(0,0%,100%,.8)) !important;
  border: none !important;
  font-size: larger;
  color: inherit !important;
}
/* If you use a theme where urlbar is partially transparent you should edit this color to something that closely matches the perceived color of urlbar. Or perhaps use background-image - linear-gradient() can work well here. But keep the color or image opaque or otherwise you'll face an issue where urlbar text bleeds through */
#statuspanel-inner{ background-color: var(--toolbar-non-lwt-bgcolor) }

#statuspanel{ color: lightpink; z-index: -1; }
#statuspanel[type="status"] { color: skyblue }

/* Don't show common values to save space (useful for oneliner) - safe to delete these */
/* If you change the font size of the label then you'll have to modify these too */
/* non-https links get a slight red hue */

#statuspanel-inner > #statuspanel-label{ margin-left: -3px !important; }
#statuspanel-inner > #statuspanel-label[value^="http"]{ margin-left: -3.7ch !important; }
#statuspanel-inner > #statuspanel-label[value^="https"]{ margin-left: -6.1ch !important; color: var(--lwt-toolbar-field-color, black) !important}
#statuspanel-inner > #statuspanel-label[value^="www"]{ margin-left: -4.5ch !important; }
#statuspanel-inner > #statuspanel-label[value^="http://www"]{ margin-left: -9.7ch !important; }
#statuspanel-inner > #statuspanel-label[value^="https://www"]{ margin-left: -10.1ch !important; } 
#statuspanel-inner{ margin-left: -1px; }