/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tab_separator_lines.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Bring back tab separator lines that were removed in Proton */

.tabbrowser-tab{
  border-inline-end: 1px solid transparent !important;
  border-image: 0 1 linear-gradient(transparent 20%,var(--toolbarseparator-color) 20%,var(--toolbarseparator-color) 80%,transparent 80%);
}
.tabbrowser-tab:hover,
.tabbrowser-tab[beforehovered],
.tabbrowser-tab[selected],
.tabbrowser-tab[last-visible-tab],
.tabbrowser-tab[beforeselected-visible]{ border-image: none !important; }