/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tab_closing_animation.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This style simply makes the tab stay visible while it is being closed as well as makes the transition a bit slower */

.tabbrowser-tab:not([pinned],[fadein]){
  transition-duration: 240ms, 240ms !important;
  transition-timing-function: ease-out, ease-out !important;
  visibility: visible !important;
}
.tab-content:not([fadein],[pinned])
.tab-icon-pending:not([fadein]),
.tab-icon-image:not([fadein]),
.tab-label:not([fadein]){
  visibility: visible !important;
}
.tab-label:not([fadein]){
  display: flex !important;
}