/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tab_line_loading_indicator.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Hide the normal loading indicator (just show tab-icon instead) and make the top tab-line bounce left-to-right */

@keyframes tab-loading-line-anim{from{background-position-x: left}to{background-position-x: right}}
.tabbrowser-tab[busy] > .tab-stack >  .tab-background::before,
.tab-background[selected]::before{
  content: "";
  display: -moz-box;
  height: 2px;
  background-color:transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-size 80ms linear;
}

.tabbrowser-tab[busy] > .tab-stack > .tab-background::before{
  background-size: 10%;
  background-image: linear-gradient(currentColor,currentColor);
  opacity: 0.7;
  animation: tab-loading-line-anim 400ms alternate infinite ease-in-out;
}

.tab-throbber{ display: none }
.tab-icon-image[src]{ display: -moz-box }