/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/tabs_below_content.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */


/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it.
Additionally on Linux, you may need to get:
linux_gtk_window_control_patch.css
*/

.titlebar-buttonbox-container{
  position: fixed;
  display: block;
  top:0;
  right:0;
  height: 40px;
  z-index: 3;
  visibility: visible !important;
}

@media (-moz-gtk-csd-reversed-placement),
       (-moz-platform: macos){
  .titlebar-buttonbox-container{ left:0; right: unset !important; }
}
@supports -moz-bool-pref("userchrome.force-window-controls-on-left.enabled"){
  .titlebar-buttonbox-container{ left:0; right: unset !important; }
}

:root[inFullscreen] #navigator-toolbox:not(:hover) .titlebar-buttonbox-container{ display: none !important; }

:root[uidensity="compact"] .titlebar-buttonbox-container{ height: 32px }
.titlebar-buttonbox-container > .titlebar-buttonbox{ height: 100%; }

/* Re-adjust window cotrols if menubar is permanently enabled  */
:root[tabsintitlebar="true"]:not([inFullscreen]) #toolbar-menubar[autohide="false"]{ transform: translateX(0px); }
:root[tabsintitlebar="true"]:not([inFullscreen]) #toolbar-menubar[autohide="false"] .titlebar-buttonbox-container{ height: 100%; }
:root[tabsintitlebar="true"]:not([inFullscreen]) #toolbar-menubar[autohide="false"] .titlebar-button{ padding: 2px 17px !important; }

@media  (-moz-platform: windows){
  #titlebar{ -moz-appearance: none !important; }
}
/* Move tabs below content */
#main-window > body::after{
  content: "";
  display: flex;
}
#main-window:not([inFullscreen]) > body::after{
  margin-bottom: calc(var(--tab-min-height) + 2 * var(--tab-block-margin,0px));
}
#main-window[inFullscreen]:not([inDOMFullscreen]) > body::after{
  margin-bottom: 1px;
}

#TabsToolbar{
  position: fixed;
  display: block;
  bottom: 0;
  width: 100vw;
  height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin,0px));
  --tabs-navbar-shadow-size: 0px;
}
#TabsToolbar:hover{ z-index: 1 }

#TabsToolbar{ background-color: var(--lwt-accent-color); }
#TabsToolbar-customization-target{ width: 100vw; }

.tab-background{ border-top-style: none !important; }

/* Hide stuff that doesn't make sense with tabs below content */
#TabsToolbar > .titlebar-buttonbox-container,
#window-controls, /* Fullscreen window controls */
#TabsToolbar .titlebar-spacer{
  display: none !important;
}
#navigator-toolbox[inFullscreen]:hover #toolbar-menubar > .titlebar-buttonbox-container{ display: flex !important; }