/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/textual_context_navigation.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes constext navigation buttons appears as normal textual menuitems */

#context-navigation{ -moz-box-orient: vertical; flex-direction: column !important; }
#context-navigation > menuitem > .menu-iconic-left{ display: none }
#context-navigation > menuitem{
  padding-block: 0.3em;
  padding-inline-start: 1em;
  -moz-box-pack: start !important;
  width: auto !important;
}
#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]){ background-color: var(--menuitem-hover-background-color) !important; }
#context-navigation > menuitem::before{ content: attr(aria-label) }