/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/toggle_tabs_toolbar_with_alt.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Show tabs toolbar with Alt-key. Menubar must be disabled for this to work.
 * To show window controls and/or menubar hit Alt again while cursor is over tabs toolbar */

:where(#titlebar:not(:hover) > #toolbar-menubar[autohide="true"][inactive]) + #TabsToolbar {
  visibility: collapse;
}
#toolbar-menubar[autohide]:not([inactive]),
#toolbar-menubar[autohide="true"]:not([inactive],:hover) + #TabsToolbar > .titlebar-buttonbox-container{
  visibility: collapse !important;
}
#menubar-items:has([_moz-menuactive][open="true"]),
#toolbar-menubar[autohide]:hover > #menubar-items,
:root:not([sizemode="fullscreen"]) #titlebar:hover #toolbar-menubar[autohide][inactive] > #menubar-items{
  visibility: visible;
  position: absolute;
  z-index: 1;
  height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin));
  background-color: -moz-dialog;
  align-items: stretch;
}
#main-window[sizemode="fullscreen"] #TabsToolbar{
  visibility: visible !important;
}
#main-window[sizemode="fullscreen"] #toolbar-menubar > #menubar-items{
  visibility: collapse;
}
#main-menubar{ height: 100%; }
