/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/toolbarbuttons_in_tabs_periphery.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/*
This style allows you to place normal buttons to tabs toolbar such that they "stick to" the last tab similar to how newtab-button does.

By default ALL buttons after the tabs strip now stick to the last tab.
To change this, use customize mode to move one flexible space to the tabs toolbar.
Any button to the right of the flexible space is pushed to the right edge.
 */

#TabsToolbar > .toolbar-items{
  container-name: uc-tabs-toolbar;
  container-type: inline-size;
}
#TabsToolbar-customization-target{
  max-width: 100cqw;
}
#tabbrowser-tabs{
  --uc-scrollbox-containment: none;
  max-width: max-content;
  overflow: hidden;
  margin-inline-end: -2px;
}
.tabbrowser-tab:not([pinned]){
  width: 225px;
}
/* This margin is added to create "buffer-space"
   Without it, opening and closing tabs will briefly
   make tabs overflow which looks jarring.
   The -2px margin on #tabbrowser-tabs is related to this as well so tabs-newtab-button isn't separated too far. */
#tabbrowser-arrowscrollbox-periphery{
  margin-inline-start: 2px;
}
#tabs-newtab-button{
  transform: translateX(-2px);
}
.closing-tabs-spacer{
  display: none !important;
}
@-moz-document url("chrome://browser/content/browser.xhtml"){
  scrollbox[orient="horizontal"],
  .scrollbox-clip[orient="horizontal"]{
    contain: var(--uc-scrollbox-containment,initial) !important;
  }
}
#tabbrowser-tabs ~ toolbarspring{
  flex-grow: 0 !important;
  min-width: 0px !important;
  margin-inline: auto;
}
