/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/urlbar_connection_type_colors.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Modifies the urlbar text color based on connection type - "normal" https: won't be mdofied */

/* Mixed content including neterror */
#identity-box[pageproxystate="valid"].unknownIdentity ~ .urlbar-input-box{ color: orange }

/* http: and potentially some other insecure connections like ftp: */
#identity-box[pageproxystate="valid"].notSecure ~ .urlbar-input-box{ color: orangered }

/* Extension pages */
#identity-box[pageproxystate="valid"].extensionPage ~ .urlbar-input-box{ color: violet }

/* Internal about: and chrome:// urls (includes reader-view) */
#identity-box[pageproxystate="valid"].localResource ~ .urlbar-input-box,
#identity-box[pageproxystate="valid"].chromeUI ~ .urlbar-input-box{ color: dodgerblue }