/* Show urlbar rersults on two lines */
/* Firefox 71+ with megabar only */

.urlbarView-row-inner{ flex-wrap: wrap !important; }

.urlbarView-title[title]{ flex-grow: 1; }
.urlbarView-row > .urlbarView-row-inner > .urlbarView-url{ margin-inline-start: 24px; min-width: 95% }

.urlbarView-row[has-url]:not([type="switchtab"]) .urlbarView-title-separator{ display: none }