/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/urlbar_results_in_two_rows.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Show urlbar rersults on two lines */
/* Firefox 71+ with megabar only */

.urlbarView-row-inner{ flex-wrap: wrap !important; }

.urlbarView-no-wrap {
  max-width: 100% !important;
  flex-basis: 100%;
}
.urlbarView-row[has-url]:not([type="switchtab"]) .urlbarView-title-separator{ display: none }

.urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url:-moz-locale-dir(ltr) {
  padding-left: calc(var(--urlbarView-item-inline-padding) + var(--identity-box-margin-inline) + 16px);
}
.urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url:-moz-locale-dir(rtl) {
  padding-right: calc(var(--urlbarView-item-inline-padding) + var(--identity-box-margin-inline) + 16px);
}