/* Creates placeholders for window controls */
/* This is a supporting file used by other stylesheets */

/* Defaults for window controls on RIGHT side of the window */
:root{
  --uc-window-control-width: 138px;
  --uc-window-drag-space-width: 24px;
}

:root[tabsintitlebar="true"]:not([inFullscreen]) #nav-bar{
  padding-right: calc(var(--uc-window-control-width) + var(--uc-window-drag-space-width,0px));
  padding-left: var(--uc-window-drag-space-width);
}

/* Use this pref to check Mac OS where window controls are on left */
/* This pref defaults to true on Mac and doesn't actually do anything on other platforms. So if your system has window controls on LEFT side you can set the pref to true */
@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
	:root{ --uc-window-control-width: 72px; }
  :root[tabsintitlebar="true"]:not([inFullscreen]) #nav-bar{
  padding-left: calc(var(--uc-window-control-width) + var(--uc-window-drag-space-width,0px));
  padding-right: var(--uc-window-drag-space-width);
  }
}