/* Creates placeholders for window controls */
/* For window controls on RIGHT side of the window */
/* This is a supporting file used by other stylesheets */

:root{
  --uc-window-control-width: 138px;
  --uc-window-drag-space-width: 24px;
}

:root[tabsintitlebar="true"]:not([inFullscreen]) #nav-bar{
  padding-right: calc(var(--uc-window-control-width) + var(--uc-window-drag-space-width,0px));
  padding-left: var(--window-drag-space-width);
}