/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/deprecated/bookmarksbar_on_new_tabs_only.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This stylesheet is deprecated since Firefox 72 */
/* Use autohide_bookmarks_toolbar.css instead */

:root[title$=" - Mozilla Firefox"] #PersonalToolbar,
:root[title$=" - Mozilla Firefox (Private Browsing)"] #PersonalToolbar,
:root[title$=" - Firefox Nightly"] #PersonalToolbar,
:root[title$=" - Firefox Nightly (Private Browsing)"] #PersonalToolbar{ visibility: collapse; }
/* about:home or something can have a "New Tab" prefix */
:root[title="New Tab - Mozilla Firefox"] #PersonalToolbar,
:root[title="New Tab - Mozilla Firefox (Private Browsing)"] #PersonalToolbar,
:root[title="New Tab - Firefox Nightly"] #PersonalToolbar,
:root[title="New Tab - Firefox Nightly (Private Browsing)"] #PersonalToolbar{ visibility: visible; }
/* Short delay to prevent being shortly visible during tab restore */
#PersonalToolbar{ transition: visibility 0ms linear 200ms !important}