/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/deprecated/centered_top_statuspanel.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

#statuspanel:not([hidden]){
  display: flex !important;
  justify-self: center !important;
  padding-top: 0 !important;
  inset-block: 0 auto !important;
  inset-inline: auto !important;
}
#statuspanel-label{
  border-width: 0 1px 1px 1px !important;
  border-style: solid !important;
  margin-inline: auto !important;
}
