/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/deprecated/multi-row_tabs_Fx66+.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* For Firefox 66+ */
/* Use multi-row_tabs_window_control_patch.css to hide window controls if you wish */
/* This file is obsolete, you can use multi-row_tabs.css which should work on Firefox pre- and post-66  */


#tabbrowser-tabs{
  min-height: unset !important;
}
#tabbrowser-tabs > .tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox{
  display: flex;
  flex-wrap: wrap;
}
#tabbrowser-tabs > .tabbrowser-arrowscrollbox {
  overflow: -moz-hidden-unscrollable;
  display: block;
}
.tabbrowser-tab{ max-height: 32px; }
.tabbrowser-tab[fadein]:not([pinned]){
  min-width: 100px !important;
  flex-grow: 1;
  /*
  Uncomment to enable full-width tabs, also makes tab dragging a tiny bit more sensible
  Don't set to none or you'll see errors in console when closing tabs
  */
  /*max-width: 100vw !important;*/
}

.tabbrowser-tab > stack{ width: 100%; height: 100%; }

.tabbrowser-tab[pinned]{ position: static !important;  }

#tabbrowser-tabs .scrollbutton-up,
#tabbrowser-tabs .scrollbutton-down,
#alltabs-button,
:root:not([customizing]) #TabsToolbar #new-tab-button,
#tabbrowser-tabs spacer{ display: none }