/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/deprecated/theme_popups_and_menus.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes popups, menus and context menus dark */
/* Color editing should generally be done in theme_color_variables.css */

/*!!! IMPORT theme_color_variables.css !!!*/

/* Limit popups for general browser popups so that devtools is not affected */
@-moz-document url-prefix(chrome://browser/content/){
:root{ --panel-disabled-color: #888 !important; }

.panel-arrowcontent,
#alltabs-popup .arrowscrollbox-scrollbox,
menupopup:not(#BMB_bookmarksPopup),
.textbox-contextmenu{
  border: 3px solid #434850 !important;
  background: var(--uc-dark-bkgnd-color) !important;
  border-radius: 5px !important;
  color: var(--uc-text-color) !important;
}

/* bookmarks menu is different from others */
#BMB_bookmarksPopup{
  background-color: unset !important;
}

/* GENERAL */
menupopup,
menuitem,
menu{
  -moz-appearance: none !important;
}

menupopup{
  background-color:var(--uc-dark-bkgnd-color) !important; 
  border:none;
}

menuitem,
menu{
  min-height:24px !important;
  color: var(--uc-text-color) !important;
}

menuitem[disabled="true"],
menu[disabled="true"]{
  color: black !important;
  text-shadow: 0 0 4px silver !important;
}

menuitem:hover,
menu:hover{
  background-color:var(--uc-active-color) !important;
}

menuitem[disabled="true"]:hover,
menu[disabled="true"]:hover{
  background-color: transparent !important;
}

.menu-right{ filter: invert(100%) }
#context-navigation{ background-color: transparent !important; }

/* POPUP PANELS */

.panel-subviews,
#mainPopupSet menupopup,
#main-menubar menupopup,
#bookmarks-menu-button menu menupopup > hbox,
.search-panel-header.search-panel-current-engine,
.search-panel-current-input,
panelview,
.PanelUI-subView,
.autocomplete-richlistbox,
#urlbar-results{
   background-color:  var(--uc-dark-bkgnd-color) !important;
}

.subviewbutton:hover,
#widget-overflow-mainView .toolbarbutton-1:hover,
#PopupAutoCompleteRichResult .autocomplete-richlistitem:hover,
#PopupSearchAutoComplete .autocomplete-richlistitem:hover{
  background-color: var(--uc-active-color) !important;
}

#widget-overflow-mainView #searchbar > .searchbar-textbox{
  background-color: var(--uc-light-bkgnd-color) !important;
  color: var(--uc-text-color) !important;
}

panelview toolbarbutton.subviewbutton .toolbarbutton-text,
#downloadsFooter,
#customizationui-widget-panel label,
.autocomplete-richlistitem .ac-title,
#widget-overflow-mainView toolbarbutton,
#bookmarks-menu-button menu menupopup,
#PopupSearchAutoComplete .autocomplete-tree.plain.search-panel-tree,
#PanelUI-contents toolbarbutton,
#alltabs_containersTab,
#PopupAutoCompleteRichResult .ac-title,
#PopupAutoCompleteRichResult .search-one-offs,
.search-panel-input-value{
  color: var(--uc-text-color)!important;
}

#alltabs-popup,
#alltabs_containersMenuTab{
  border: none !important;
}

.search-panel-one-offs,
.downloadsPanelFooterButton:not(:hover),
#overflowMenu-customize-button:not(:hover),
#searchbar-anon-search-settings{
  background-color: var(--uc-light-bkgnd-color) !important;
}

#PopupAutoCompleteRichResult .ac-emphasize-text.ac-emphasize-text-title{
  color: var(--uc-border-color) !important;
}

#editBookmarkPanel textbox,
#editBookmarkPanel menulist,
#editBookmarkPanel button,
#editBookmarkPanel richlistbox,
#editBookmarkPanel tree{
  -moz-appearance: none !important;
  background-color: var(--uc-light-bkgnd-color) !important;
  color: var(--uc-text-color) !important;
}

#editBookmarkPanel button:hover{ filter: brightness(150%) }
#editBookmarkPanel menulist{ padding: 4px !important; }
#editBookmarkPanel button{ padding: 3px !important; }

#editBMPanel_folderTree treechildren::-moz-tree-cell(selected){ background-color: var(--uc-border-color) !important; }
#editBMPanel_folderTree treechildren::-moz-tree-cell(hover){ background-color: var(--uc-active-color) !important; }
}