/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/deprecated/theme_color_variables.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Color controls for theme_***.css files */
:root{
  --uc-dark-bkgnd-color: rgb(12,16,32);
  --uc-light-bkgnd-color: rgb(46,54,69);
  --uc-active-color: rgb(26, 70, 102);
  --uc-text-color: rgb(195, 198, 201);
  --uc-border-color: rgb(43,130,191);
}
