/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/deprecated/theme_aware_modal_prompts.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* DEPRECATED */

/* Makes the popup of alert() prompt() etc. respept theme colors as well as be slightly differently styled */

tabmodalprompt >.spacer-top{ display: none }
.tabmodalprompt-mainContainer{
  -moz-box-orient: horizontal;
  box-shadow: 0 0px 14px black;
  background-image: linear-gradient(var(--toolbar-bgcolor),var(--toolbar-bgcolor));
  border-top: none !important;
}
:root:-moz-lwtheme-brighttext .tabmodalprompt-mainContainer{ background-color: black !important; }
.tabmodalprompt-topContainer{ color: var(--toolbar-color); padding-inline-end: 0px !important; }
.tabmodalprompt-buttonContainer{ background: transparent !important; padding-top: 7em !important; }

.tabmodalprompt-rows input{ color: inherit; -moz-appearance: none; background: rgba(255,255,255,0.1); border: 1px solid currentColor; }

.tabmodalprompt-infoContainer{
  display: flex;
  flex-direction: column;
  
  min-width: 30ch;
}
.infoTitle{ font-size: 1.1em }
.infoBody{ margin-inline-start: 6px !important; }


.tabmodalprompt-buttonContainer >  button{
  -moz-appearance: none !important;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  color: var(--toolbar-color) !important; 
}
.tabmodalprompt-buttonContainer >  button:hover{
  box-shadow: inset 0 0 6px grey
}

.tabmodalprompt-buttonContainer >  button[default],
.tabmodalprompt-buttonContainer >  button:focus{ background-color: #3388ff; color: white !important; }

.tabmodalprompt-buttonContainer >  button:active{ background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)) }