/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/deprecated/toggle_bookmarksbar_with_alt.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Pretty much requires either menubar_in-toolbar or the oneliner compatible one */
/* Otherwise the changing vertical position causes bookmarks to be unclickable */
/* NOT COMPATIBLE with Fx65+ */
#main-window[sizemode="normal"]:not([customizing]) #PersonalToolbar{
  transition: margin 0.15s ease-in-out 50ms, z-index 16ms linear 100ms!important;
  height: 28px;
  position: relative;
  z-index: 1;
}
:root:not([customizing]) #toolbar-menubar[inactive] ~ #PersonalToolbar:not(:hover){
  margin-top:-28px;
  z-index: -1;
}